* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* = = = menu base styles = = = */

nav {
    background: #333;
}

nav ul {
    /*this kills dots before items in the ul*/
    list-style-type: none;
    padding: 0;
}

nav a {
    /*this kills underline of links*/
    text-decoration: none;
    /*don't need this if 'justify' is set, and 'flex' is off*/
    /* text-align: center; */
    color: #fff;
    /*this make elements take up the wholw with of parent*/
    display: block;
    padding: 10px;
    /* background: #777; */
}

nav a:hover{
    /*changes color when pointer is above element*/
    background: #555;
}

/* = = = flex styles = = = */

/*anything below it executed only when width is above min*/
@media screen and (min-width: 768px){

    nav ul{
        display: flex;
        /*plays with placement of text within element*/
        justify-content: flex-start;
    }

    nav li{
        flex: 1 1 0;
    }
}
